<h2>Create a new celebrity :</h2>

<form action="/celebrities/create" method="POST">

  <label>Name: <input name="name" /></label>
  <label>Occupation: <input name="occupation" /></label>
  <label>Catch Phrase: <input name="catchPhrase" /></label>

  <button type="submit">Create new celebrity</button>
</form>
