<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<nav>
  <ul>
    <li>
        <a href="/celebrities">View all celebrities</a>
    </li>
    <li>
      <a href="/celebrities/create">Create a celebrity</a>
    </li>
    <li>
        <a href="/movies/create">Create new movie</a>
    </li>
  </ul>
</nav>
